iptables_rules:
  - chain: FORWARD
    source: 10.1.1.10/32
    dest: 10.1.4.10/32
    dport: 22
    in_iface: eth1
    out_iface: eth2
    jump: ACCEPT
  - chain: INPUT
    in_face: eth1
    out_iface: eth2
    jump: DROP
#  - chain: INPUT
# policy: DROP
net_path: "/etc/sysconfig/network-scripts/"
network_interfaces:
  - device: eth3
    route:
      - network: 10.1.3.0
        netmask: 255.255.255.0
        gateway: 10.1.2.3
